.BannerContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.BannerWindow{
    width: 85%;
    overflow: hidden;
    height: 500px;
    box-shadow: inset 50px 0 10px 0 black;
    position: relative;
}
.CardContainer{
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width:100%;
    scroll-snap-type: x mandatory;
    height: auto;
}
.prev-button{
    width:50px;
    height:50px;
    border: 2px solid red;
    background-color: none;
    border-radius: 5%;
    position: absolute;
    top: 50%;
    left:0;
    transform: translateY(-50%) translateX(50%);
    z-index: 1;
}
.next-button{
    width:50px;
    height:50px;
    border: 2px solid red;
    background-color: none;
    border-radius: 5%;
    position: absolute;
    top: 50%;
    right:0;
    transform: translateY(-50%) translateX(-50%);
    z-index: 1;
}
.gridContainer{
    display: flex;
    width:100%;
    margin-top: 50px;
    justify-content: center;
}
.paginationWrap{
    margin-top: 20px;
    margin-bottom: 20px;
}

